@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background: #212121;
  }

  a:link, a:visited {
    color: #58a6ff;
  }


  ul a {
    text-decoration: none;
  }
  ul a:visited {
    text-decoration: none;
    color: #8e96f0;
  }
}
ul a {
  text-decoration: none;
}
